body{
margin: 0px;
padding: 0px;
background-color: #191919;
}

.header{
    padding: 1%;
    margin-bottom: 5%;
   text-align: center;
   background-color: #ECDBBA;
   font-family: 'Permanent Marker', cursive;
}

.container{
    display: grid;
    grid-template-columns: 60% 60% ;
    grid-template-rows: 100% 100% ;
    margin-bottom: 5%;
    margin-left: 2%;
    
}

.input{
    margin-left: 45%;
    margin-bottom: 5%;
}

@media screen and (max-width: 900px) {
    
    .container{
        display: grid;
        grid-template-columns: 60% 60%;
        margin-bottom: 5%;
    }
}
